$blue:          #0072c0;
$mdark-blue:    #137cac;
$dark-blue:     #032373;

$lightest-gray: #f9f9f9;
$lighter-gray:  #f5f5f5;
$light-gray:    #f0f0f0;
$mlight-gray:   #aaa;
$gray:          #777;
$dark-gray:     #333;

$white:         #ffffff;

$yellow:        #F9AF48;

$green:         #40B34F;

$red:           #BF2932;

$lighter-black: #222222;
$light-black:   #474747;
$black:         #000000;

$facebook:      #5d82d1;
$twitter:       #40bff5;
$googleplus:    #eb5e4c;
$youtube:       #ef4e41;
$instagram:     #89634a;