{% extends "base.html" %}

{% load thumbnail %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {% include "gui/partials/header.html" %}
{% endblock %}

{% block container %}
    <div id="container" class="row">
        <!-- -  -   -    -     -      -      -       -        -        Content -->
        <div class="content large-14 columns">
            <section class="about box">
                <header class="box__header text-center">
                    <h4 class="box__header-title">
                        A agência progile
                    </h4><!-- h4 class='box__header-title' -->
                </header><!-- header class='box__header' -->
                <div class="box__desc">
                    {% for about in abouts %}
                        {{ about.body|safe }}
                    {% endfor %}
                </div><!-- div class='box__desc row' -->
            </section><!-- section class='box' -->
        </div>
        <div class="content large-6 columns">

            <section class="team box">
                <header class="box__header row text-center">
                    <h5 class="box__header-title">
                        Equipe
                    </h5><!-- h5 class='box__header-title' -->
                </header><!-- header class='box__header' -->
                {% for member in members %}
                    <figure class="box__figure">
                        {% thumbnail member.photo "250x250" crop="center" as im %}
                            <div class="box__figure-crop">
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ member.name }}" />
                            </div><!-- div class='box__figure-crop' -->
                        {% endthumbnail %}
                        <figcaption>
                            <h6 class="box__figure-name">{{ member.name }}</h6><!-- h6 class='box__figure-name' -->
                            <h6 class="box__figure-role">{{ member.role.name }}</h6><!-- h6 class='box__figure-role' -->
                        </figcaption>
                    </figure><!-- figure class='box__figure' -->
                {% endfor %}
            </section><!-- section class='box' -->

            <section class="social box">
                <header class="row text-center">
                    <ul class="no-bullet">
                        {% for social_network in social_networks %}
                            <li>
                                <a href="{{ social_network.url }}" target="_blank">
                                    {% if social_network.type == "facebook" %}<i class="icon-facebook2"></i>{% endif %}
                                    {% if social_network.type == "twitter" %}<i class="icon-twitter2"></i>{% endif %}
                                    {% if social_network.type == "instagram" %}<i class="icon-instagram"></i>{% endif %}
                                    {% if social_network.type == "googleplus" %}<i class="icon-googleplus"></i>{% endif %}
                                    {% if social_network.type == "youtube" %}<i class="icon-youtube2"></i>{% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </header>
            </section><!-- section class='social box' -->

        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "gui/partials/footer.html" %}
{% endblock %}