{% extends "base.html" %}

{% load thumbnail %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    {% include "gui/partials/header.html" %}
{% endblock %}

{% block container %}
    <div id="container" class="row">

        <!-- -  -   -    -     -      -      -       -        -        Aside -->
        {% include "gui/partials/aside.html" %}

        <!-- -  -   -    -     -      -      -       -        -        Content -->
        <div class="content large-14 columns">
            {% if notices %}
                <section class="notices">
                    {% for notice in notices %}
                        <article class="row notice post">
                            <figure>
                                {% thumbnail notice.photo "1200x675" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                                <figcaption>
                                    <div class="line"></div>
                                    <h6 class="editorial">{{ notice.editorial|upper }}</h6>
                                </figcaption>
                            </figure>
                            <header class="column">
                                <h2>
                                    <a href="{{ BASE_URL }}/notice/{{ notice.pk }}">{{ notice.title|capfirst }}</a>
                                </h2>
                                <ul class="no-bullet meta row">
                                    <li>AUTOR: <a href="{{ BASE_URL }}/posts/?author={{ notice.author.pk }}">{{ notice.author.name }}</a></li>
                                    <li>{{ notice.date }}</li>
                                    <li>EM <a href="{{ BASE_URL }}/posts/?editorial={{ notice.editorial.pk }}">{{ notice.editorial.name|upper }}</a></li>
                                    <li>{{ notice.views }} VISUALIZAÇÕES</li>
                                </ul>
                            </header>
                            <div class="description column">
                                <p>{{ notice.body|striptags|capfirst|truncatechars:256 }}</p>
                            </div>
                            <div class="read-more row text-center">
                                <a href="{{ BASE_URL }}/notice/{{ notice.pk }}" class="button">Leia mais</a>
                            </div>
                        </article>
                    {% endfor %}
                </section>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "gui/partials/footer.html" %}
{% endblock %}