#container {

    & > aside {

        a, i {
            color: $light-black;

            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: $blue;
            }
        }

        .search {
            input {
                width: 80%;
                float: left;
            }
            button {
                float: left;
                width: 20%;
                padding: 0;
                i {
                    color: $white;
                    line-height: 37px;
                }
            }
        }

        .main-tabs {
            ul.tabs {
                li {
                    padding: 0 3px;

                    i {
                        font-size: 20px;
                    }

                    h6:hover, i:hover {
                        cursor: pointer;
                    }

                    &.active a,
                    &.active i {
                        color: $blue
                    }
                }
            }

            ul {
                li {
                    img {
                        background: $black;
                    }

                    & > a > img {
                        margin: 10px;
                    }

                    .meta {
                        margin-top: 10px;

                        .post-title {
                            margin: 0 0 10px 0;
                            padding: 0 0 10px 0;
                            font-size: 14px;
                            line-height: 18px;
                            font-weight: 400;
                            border-bottom: 1px #f0f0f0 dotted;
                            border-bottom-color: rgba(0,0,0,0.15);
                        }

                        .post-meta {
                            font-size: 12px;
                            line-height: 15px;
                            text-transform: uppercase;
                            color: #999;
                            color: rgba(0,0,0,0.35);
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .content {

        .banner {
            background: $black;
            position: relative;
            margin-bottom: 60px;
            .banner-carousel {
                margin: 0;
                padding: 0;
                position: relative;
                .owl-dots {
                    text-align: center;
                    left: 0;
                    right: 0;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    .owl-dot {
                        margin: 5px;
                        border-radius: 0;
                        width: 20px;
                        height: 7px;
                        background-color: $blue;
                        display: inline-block;
                        cursor: pointer;
                        &.active {
                            opacity: 0.5;
                        }
                    }
                }
            }
            .slide-caption {
                position: absolute;
                width: 100%;
                bottom: 0;
                z-index: 888;
                background-color: #000;
                color: $white;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 15px;

                h5 {
                    font-weight: 600px;
                }

                .date {
                    margin: 0;
                    color: #EEE;
                    text-transform: uppercase;
                    font-size: 13px;
                }

                h5 {
                    margin: 0;
                }

                p {
                    margin-bottom: 5px;
                }

                a {
                    color: $white;
                }
            }
        }

        .posts {
            .posts-header {
                .posts-header-title {
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-bottom: 25px;
                    font-size: 33px;
                    line-height: 43px;
                }
            }
        }
        article.post {
            position: relative;
            overflow: hidden;
            display: block;
            background-color: $white;
            box-shadow: 0 0 0 1px rgba(0,0,0,0.06), 0 4px 10px rgba(0,0,0,0.06);
            margin-right: 1px;
            margin-left: 1px;
            margin-bottom: 40px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            padding-bottom: 30px;

            figure {
                margin: 0;
            }

            figcaption, .ribbon {
                position: absolute;
                top: 0;
                width: 100%;

                .line, h6, i {
                    background-color: $blue;
                }

                .line {
                    top: 0;
                    width: 100%;
                    height: 8px;
                }

                h6, i {
                    position: absolute;
                    left: 10px;
                    top: 0;
                    display: block;
                    color: #FFF;
                    font-size: 13px;
                    text-transform: uppercase;
                    line-height: 26px;
                    padding: 5px 15px;
                    z-index: 80;
                    border-radius: 3px;
                    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.08);
                    font-weight: 400;
                }

                i {
                    left: initial;
                    right: 10px;
                    line-height: 40px;
                    font-size: 20px;
                }
            }

            .description {
                padding: 10px 30px 0 30px;
            }

            header {
                h2 a {
                    color: $dark-gray;

                    &:hover{
                        color: $blue;
                    }
                }

                .meta {
                    text-align: center;

                    li {
                        display: inline;

                        font-size: 13px;
                        font-weight: 500;
                        text-transform: uppercase;

                        background: $lightest-gray;
                        padding: 1px 9px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        border-radius: 3px;
                        color: $gray;
                    }
                }

                h2 {
                    padding: 40px 35px 0px 35px;
                    text-align: center;


                    a {
                        font-weight: 400;
                    }
                }
            }

            .read-more {
                margin-top: 20px;
            }

            &.video-library {

                .ribbon .line,
                .ribbon h6,
                .ribbon i,
                .read-more a {
                    background-color: $green;
                }

                header h2 a:hover,
                .meta li a {
                    color: $green;
                }
            }

            &.photogallery {

                .ribbon .line,
                .ribbon h6,
                .ribbon i,
                .read-more a {
                    background-color: $yellow;
                }

                header h2 a:hover,
                .meta li a {
                    color: $yellow;
                }

                .gallery {
                    .photo {
                        position: relative;
                        .photo__meta {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            height: 95px;
                            text-rendering: optimizelegibility;
                            text-shadow: 0 0 3px rgba(0,0,0,.8);
                            border-bottom: 1px solid $black;
                            background-image: url("../images/shadow-line.png");
                            background-repeat: repeat-x;
                            background-position: left bottom;
                            .photo__meta-title,
                            .photo__meta-credits {
                                color: $white;
                                font-weight: 600;
                                font-size: 17px;
                                padding-bottom: 0;
                                padding: 15px 15px 5px 15px;
                                margin-bottom: 0;
                            }
                            .photo__meta-credits {
                                padding: 0 15px 10px 0;
                                text-align: right;
                                font-size: 14px;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &.podcast {

                .ribbon .line,
                .ribbon h6,
                .ribbon i,
                .read-more a {
                    background-color: $black;
                }

                header h2 a:hover,
                .meta li a {
                    color: $black;
                }

                .podcast-iframe {
                    padding-top: 8px;
                }
            }

            &.event {

                .ribbon .line,
                .ribbon h6,
                .ribbon i,
                .read-more a {
                    background-color: $red;
                }

                header h2 a:hover,
                .meta li a {
                    color: $red;
                }

            }
        }
    }
}