<!doctype html>
<html class="no-js" lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="index,follow">
    <meta name="viewport" content="initial-scale=1.0 maximum-scale=1.0 user-scalable=no">
    <!-- title -->
    <title>Progile | {% block title %} {% endblock %}</title>
    <!-- shortcut icon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png?v=2">
    <!-- meta tags -->
    <meta name="author" content="Wendell P. Barreto (wendellp.barreto@gmail.com)">
    <meta name="description" content="Agência progile">
    <meta name="keywords" content="progile, agência, ufrn, natal, rn, rio, grande, do, norte, website, site, , notícias, fotogaleria, fotogalerias, vídeo, vídeos, evento, evento, podcast, podcasts, cientec, comunicação, experimental, multimídia">
    <!-- facebook tags -->
    <meta property="og:url" content="progile.wendellpbarreto.com">
    <meta property="og:site_name" content="Agência progile">
    <meta property="og:type" content="blog">
    <meta property="og:title" content="Agência progile">
    <meta property="og:image" content="{{ STATIC_URL }}images/logo.png">
    <meta property="og:description" content="">
    <!-- twitter tags -->
    <meta name="twitter:card" content="">
    <meta name="twitter:image" content="http://placehold.it/120x120">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <!-- scripts -->
    <script src="{{ STATIC_URL }}bower_components/modernizr/modernizr.js"></script>
    <!--<script src="{{ STATIC_URL }}bower_components/pace/pace.js"></script>-->
    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}fonts/icomoon/style.css"> -->
    <!-- stylesheets::vendor -->

    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/pace/themes/pace-theme-flash.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/owlcarousel/assets/owl.carousel.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/animate/animate.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/tilteffect/tilteffect.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/gridster/gridster.min.css" />

    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/themes/default.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.4.1/css/themes/semantic.min.css"/>

    <!-- stylesheets::main -->
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css">



    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/spectrum.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css">
    
    <link rel="stylesheet" href="{{ STATIC_URL }}styles/themes/default-bright.css" id="themeStylesheet">

</head>
<body ng-app="mpk">

    <!-- -  -   -    -     -      -      -       -        -        Header -->
    {% block header %} {% endblock %}

    <!-- -  -   -    -     -      -      -       -        -        Container -->
    {% block container %} {% endblock %}

    <!-- -  -   -    -     -      -      -       -        -        Footer -->
    {% block footer %} {% endblock %}
    
    <script src="//cdn.jsdelivr.net/alertifyjs/1.4.1/alertify.min.js"></script>

    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/foundation/js/foundation.js"></script>
    <script src="{{ STATIC_URL }}vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="{{ STATIC_URL }}vendor/classie/classie.js"></script>
    <script src="{{ STATIC_URL }}vendor/tilteffect/tilteffect.js"></script>
    <script src="{{ STATIC_URL }}vendor/gridster/gridster.min.js"></script>
    <script src="{{ STATIC_URL }}scripts/main.min.js"></script>

    <script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-route/angular-route.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/spectrum/spectrum.js"></script>
    <script src="{{ STATIC_URL }}bower_components/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/spinjs/spin.js"></script>
    <script src="{{ STATIC_URL }}bower_components/FileSaver/FileSaver.min.js"></script>
    <script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}scripts/themes.82ae94b8.js"></script>

    <script src="{{ STATIC_URL }}scripts/md5.js"></script>
    <script src="{{ STATIC_URL }}scripts/rabbit.js"></script>
    <script src="{{ STATIC_URL }}scripts/enc-utf16-min.js"></script>

    <script src="{{ STATIC_URL }}scripts/model.js"></script>
    <script src="{{ STATIC_URL }}scripts/app.js"></script>
    <script src="{{ STATIC_URL }}scripts/services/cloudService.js"></script>        
    <script src="{{ STATIC_URL }}scripts/services/kanbanRepository.js"></script>
    <script src="{{ STATIC_URL }}scripts/services/kanbanManipulator.js"></script>
    <script src="{{ STATIC_URL }}scripts/services/themesProvider.js"></script>
    <script src="{{ STATIC_URL }}scripts/services/fileService.js"></script>
    
    <script src="{{ STATIC_URL }}scripts/controllers/ApplicationController.js"></script>
    <script src="{{ STATIC_URL }}scripts/controllers/NewKanbanController.js"></script>
    <script src="{{ STATIC_URL }}scripts/controllers/CardController.js"></script>
    <script src="{{ STATIC_URL }}scripts/controllers/ColumnSettingsController.js"></script>
    <script src="{{ STATIC_URL }}scripts/controllers/NewKanbanCardController.js"></script>
    <script src="{{ STATIC_URL }}scripts/controllers/KanbanController.js"></script>
    <script src="{{ STATIC_URL }}scripts/controllers/SwitchThemeController.js"></script>  
    <script src="{{ STATIC_URL }}scripts/controllers/SetupCloudController.js"></script>
    <script src="{{ STATIC_URL }}scripts/controllers/ExportController.js"></script>
    <script src="{{ STATIC_URL }}scripts/controllers/ImportController.js"></script>
    <script src="{{ STATIC_URL }}scripts/controllers/ArchiveController.js"></script>

    <script src="{{ STATIC_URL }}scripts/directives/colorSelector.js"></script>
    <script src="{{ STATIC_URL }}scripts/directives/focusMe.js"></script>
    <script src="{{ STATIC_URL }}scripts/directives/sortable.js"></script>
    <script src="{{ STATIC_URL }}scripts/directives/file.js"></script>
    <script src="{{ STATIC_URL }}scripts/directives/modal.js"></script>
    <script src="{{ STATIC_URL }}scripts/filters/cardDetails.js"></script>
    <script src="{{ STATIC_URL }}scripts/filters/archiveByCardName.js"></script>
    <script src="{{ STATIC_URL }}scripts/services/cryptoService.js"></script>
    <script src="{{ STATIC_URL }}scripts/directives/spin.js"></script>
    <script src="{{ STATIC_URL }}scripts/directives/validKey.js"></script>
</body>
</html>

