{% extends "base.html" %}

{% load thumbnail %}

{% block title %}Project {{ project.name }}{% endblock %}

{% block header %}
    {% include "partials/topbar.html" %}
{% endblock %}

{% block container %}
	<div id="page">
		<a class="page__back-button" href="/project/{{ project.id }}"><i class="icon-action-undo"></i></a>
		

		<header class="page__header">
			<h2 class="page__header-title">{{ project.name }}</h2>
			<h5 class="page__header-subtitle">boards</h5>
		</header>

    	<form action="/new_board/" method="post" class="project__new-board-form">
            {% csrf_token %}
            <input type="hidden" name="project_id" value="{{ project.id }}">
            <fieldset>
	            <input type="text" name="title" placeholder="new board" data-required="board name is mandatory">
	            <button type="submit" data-submit="true"><i class="icon-plus"></i></button>
            </fieldset>
        </form> 
	

		<div id="boards">
			{% for board in project.boards.all %}
				<div id="board-{{ board.id }}" class="board" data-board-id="{{ board.id }}">
					<header class="board__header">
						<h6 class="board__header-title">{{ board.title }}</h6>
						<span class="board__header-controls">
							<a href="" class="icon-settings"></a>
						</span>
					</header>
					<ul class="board__tasks no-bullet" data-from-board="{{ board.id }}">
						{% for task in board.tasks.all %}
							<li id="task-{{ task.id }}" class="board__task" data-task-id="{{ task.id }}" href="#" data-reveal-id="task-{{ task.id }}__modal">
								{{ task.title }}
							</li>
						{% endfor %}
					</ul>
					<div class="board__add-task">
						<a class="board__add-task-anchor" href="#" data-reveal-id="add-task-{{ board.id }}__modal">+ add task</a>
						<div id="add-task-{{ board.id }}__modal" class="modal reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
							<h2 id="modalTitle">Add Task</h2>
							<form action="/new_task/" method="post">
								{% csrf_token %}
								<div class="row">
									<input type="text" name="title" placeholder="title*" data-required="title is mandatory" maxlength="124">
									<div class="row">
										<div class="small-7 columns">
											<label for="points"> points</label>
											<select name="points" id="points">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
											</select>
										</div>
										<div class="small-13 columns">
											<label for="sprint_id">sprint</label>
											<select name="sprint_id" id="sprint_id">
												<option value=""></option>
												{% for sprint in sprints %}
													<option value="{{ sprint.id }}">{{ sprint.title }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<textarea name="description" id="description" placeholder="description" cols="30" rows="10"></textarea>
									<input type="hidden" name="board_id" value="{{ board.id }}">
									<input type="hidden" name="project_id" value="{{ project.id }}">
									<input type="hidden" name="order" value="0">
									<input type="hidden" name="status" value="open">
									<input type="hidden" name="from_page" value="boards">
									<button type="submit" data-submit="true" class="button button--saqui button--inverted button--text-thick button--text-upper button--size-s" data-text="Add Task">Add Task</button>
								</div>
							</form>  
							<a class="close-reveal-modal" aria-label="Close">&#215;</a>
						</div>
					</div>
				</div>
			{% endfor %}
			<div id="tasks__modals">
			{% for board in project.boards.all %}
				{% for task in board.tasks.all %}
					<div id="task-{{ task.id }}__modal" class="modal tiny reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
						<h2 id="modalTitle">Update Task</h2>
						<form action="/update_task/" method="post">
							{% csrf_token %}
							<div class="row">
								<input type="text" name="title" placeholder="title*" data-required="title is mandatory" maxlength="124" value="{{ task.title }}">
								<div class="row">
									<div class="small-7 columns">
										<label for="points"> points</label>
										<select name="points" id="points">
											<option value="1" {% if task.points == 1 %}selected{% endif %}>1</option>
											<option value="2" {% if task.points == 2 %}selected{% endif %}>2</option>
											<option value="3" {% if task.points == 3 %}selected{% endif %}>3</option>
											<option value="4" {% if task.points == 4 %}selected{% endif %}>4</option>
											<option value="5" {% if task.points == 5 %}selected{% endif %}>5</option>
										</select>
									</div>
									<div class="small-8 columns">
										<label for="sprint_id">sprint</label>
										<select name="sprint_id" id="sprint_id">
											<option value=""></option>
											{% for sprint in sprints %}
												<option value="{{ sprint.id }}" {% if task.sprint_id == sprint.id %}selected{% endif %}>{{ sprint.title }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="small-5 columns">
										<label for="status">status</label>
										<select name="status" id="status">
											<option value="open" {% if task.status == 'open' %}selected{% endif %}>open</option>
											<option value="closed" {% if task.status == 'closed' %}selected{% endif %}>closed</option>
										</select>
									</div>
								</div>
								<textarea name="description" id="description" placeholder="description" cols="30" rows="10">{{ task.description }}</textarea>
								<input type="hidden" name="task_id" value="{{ task.id }}">
								<input type="hidden" name="board_id" value="{{ board.id }}">
								<input type="hidden" name="project_id" value="{{ project.id }}">
								<input type="hidden" name="order" value="0">
								<input type="hidden" name="from_page" value="boards">
								<button type="submit" data-submit="true" class="button button--saqui button--inverted button--text-thick button--text-upper button--size-s" data-text="Update Task">Update Task</button>
							</div>
						</form>  
						<a class="close-reveal-modal" aria-label="Close">&#215;</a>
					</div>
				{% endfor %}
			{% endfor %}
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
{% endblock %}

{% block footer %}
    {% include "partials/footer.html" %}
{% endblock %}