{% extends "base.html" %}

{% load thumbnail %}

{% block title %}Home{% endblock %}

{% block header %}
{% endblock %}

{% block container %}
    <div class="hero__wrapper">
        <section id="hero">
            <div class="hero__crop">
                <img class="hero__img tilt-effect" data-tilt-options='{ "opacity" : 0.5, "movement": { "perspective" : 1500, "translateX" : 10, "translateY" : 10, "translateZ" : 2, "rotateX" : 3, "rotateY" : 3 } }' src="{{ STATIC_URL }}images/bg@home.jpeg" alt="Hero image" />
            </div>
            <div class="hero__meta">
                <h1><span>An Agile Project Manager</span>Progile</h1>
                <div class="hero__meta-anchors">
                    <a href="javascript:void(0);" class="hero__meta-anchor-login">login</a>
                    <span>/</span>
                    <a href="javascript:void(0);" class="hero__meta-anchor-signup">sign up</a>
                </div>
            </div>
            <div class="hero__forms">
                <div class="row">
                    <div class="small-20 medium-12 small-centered medium-centered column">
                        <div class="row">
                            <div class="hero__forms-login small-20 medium-10 columns">
                                <form action="/login/" method="post" class="pull-right">
                                    {% csrf_token %}

                                    <input type="text" name="username" placeholder="username*" data-required="username is mandatory">
                                    <input type="password" name="password" placeholder="pass*" data-required="pass is mandatory, uh?!">
                                    <button type="submit" data-submit="true" class="button button--saqui button--inverted button--text-thick button--text-upper button--size-s pull-right" data-text="Login">Login</button>
                                </form>  
                            </div>
                            <div class="hero__forms-signup small-20 medium-10 columns">
                                <form action="/signin/" method="post">
                                    {% csrf_token %}
                                    <input type="text" name="first_name" placeholder="first name*" data-required="first name is mandatory">
                                    <input type="text" name="last_name" placeholder="last name">
                                    <input type="text" name="username" placeholder="username*" data-required="username is mandatory">
                                    <input type="text" name="email" placeholder="email*" data-required="email is mandatory">
                                    <input type="password" name="password" placeholder="pass*" data-required="pass is mandatory, uh?!">
                                    <button type="submit" data-submit="true" class="button button--saqui button--inverted button--text-thick button--text-upper button--size-s" data-text="Sign Up">Sign Up</button>
                                </form>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}