@import "settings";
@import "../../bower_components/foundation/scss/foundation";

/*
 *
 */


body {
	background: #fff;
	color: #333;
	font-size: 1em;
	font-family: 'Questrial', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	outline: none;
	color: rgb(160, 148, 147);
	text-decoration: none;
}

a:hover, a:focus {
	color: rgb(197, 135, 130);
}

.hero__wrapper {
	text-align: center;
	height: 100vh;
	overflow: hidden;
	background: url(../images/bg@home.jpeg) no-repeat center center;
	background-size: auto 100vh;
}

#hero {
	position: absolute;
	top: 50px;
	left: 50px;
	bottom: 50px;
	right: 50px;
	overflow: hidden;

	.hero__crop {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.hero__crop::after {
		content: '';
		position: absolute;
		background: rgba(76,0,1,0.1);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}

	.hero__img {
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		height: 100vh;
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
	}

	.hero__crop .tilt__back,
	.hero__crop .tilt__front {
		background-size: auto 100vh;
	}

	.hero__meta {
		margin: 0.5em 0 0;
		width: 100%;
		top: 25vh;
		position: absolute;
	}
	h1 {
		pointer-events: none;
		letter-spacing: -1px;
		font-weight: 400;
		font-size: 4.25em;
		line-height: 1;
		color: #fff;
		font-family: 'Playfair Display', Georgia, serif;
		span {
			display: block;
			padding: 2em 0 1em;
			color: #3a3231;
			font-size: 0.2em;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 3px;
			text-shadow: none;
			font-family: 'Questrial', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
		}
	}
	.hero__meta-anchors {
		margin-top: 10px;
		font-style: italic;
		font-weight: 100;
		font-family: 'Playfair Display', Georgia, serif;
		a {
			color: #FB9A49;
			transition: color 0.5s ease-in-out;
			&:hover {
				color: #000;
			}
		}
		span {
			color: #FB9A49;
		}
	}

	.hero__forms {
		margin: 0.5em 0 0;
		width: 100%;
		top: 50vh;
		position: absolute;
		.hero__forms-login {
		}
	}
}

@media screen and (min-aspect-ratio: 1440/960) {
	.hero__crop .tilt__back,
	.hero__crop .tilt__front,
	.hero__wrapper {
		background-size: 100vw auto;
	}
	.hero__img {
		width: 100vw;
		height: auto;
	}
}

@media screen and (max-width: 40em){
	.hero__wrapper h1 {
		font-size: 2.5em;
	}
	#hero {
		left: 20px;
		bottom: 20px;
		right: 20px;
		top: 20px;
	}
	.github-link {
		top: 40px;
		right: 40px;
	}
	.codrops-links {
		top: 35px;
		left: 30px;
	}
	.mobile-note {
		display: block;
	}
}


#topbar {
	margin: 0 50px;
	padding: 5px;
	height: 50px;
	.topbar__nav {
		.right {
			float: right;
		}
		.topbar__nav-anchor {
			line-height: 40px;			
		}
	}

}
#page {
	margin: 0 50px;
	background-color: #d9d2d0;
}