{% load thumbnail %}

<aside class="large-6 columns">
    {% if not "/home" in request.path %}
        <div class="search widget">
            <header class="row text-center">
                <h6 class="large-centered column">PESQUISAR</h6>
                <form action="/posts" method="get" class="column">
                    <input type="text" name="keywords" placeholder="Pesquisar"/>
                    <button type="submit"><i class="icon-search"></i></button>
                    <select name="editorial" id="editorial">
                        <option value="" selected>Todo o conteúdo</option>
                        {% for editorial in editorials %}
                            <option value="{{ editorial.pk }}">{{ editorial.name }} ({{ editorial.get_amount }})</option>
                        {% endfor %}
                    </select>
                </form>
            </header>
        </div><!-- div class='search widget' -->
    {% endif %}
    <div class="main-tabs widget">
        <div class="centered-list">
            <ul class="tabs" data-tab>
                <li class="tab-title active">
                    <a href="#popular-panel">POPULAR</a>
                </li>
                <li class="tab-title">
                    <a href="#recent-panel">RECENTE</a>
                </li>
                <li class="tab-title">
                    <a href="#commenteds-panel"><i class="icon-comments"></i></a>
                </li>
            </ul>
        </div><!-- div class='centered-list' -->
        <div class="tabs-content">
            <div class="content active" id="popular-panel">
                <ul class="no-bullet popular">
                    {% for popular in populars %}
                        <li class="row collapse">
                            <a href="{{ BASE_URL }}/notice/{{ popular.pk }}" class="large-7 columns">
                                {% thumbnail popular.photo "90x90" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </a>
                            <div class="large-13 columns meta">
                                <h3 class="post-title">
                                    <a href="{{ BASE_URL }}/notice/{{ popular.pk }}">
                                        {{ popular.title|capfirst }}
                                    </a>
                                </h3>
                                <p class="post-meta">
                                    {{ popular.date }}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- div id='popular-panel' class='content active' -->
            <div class="content" id="recent-panel">
                <ul class="no-bullet recent">
                    {% for recent in recents %}
                        <li class="row collapse">
                            <a href="{{ BASE_URL }}/notice/{{ recent.pk }}" class="large-7 columns">
                                {% thumbnail recent.photo "90x90" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </a>
                            <div class="large-13 columns meta">
                                <h3 class="post-title">
                                    <a href="{{ BASE_URL }}/notice/{{ recent.pk }}">
                                        {{ recent.title|capfirst }}
                                    </a>
                                </h3>
                                <p class="post-meta">
                                    {{ recent.date }}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- div id='recent-panel' class='content' -->
            <div class="content" id="commenteds-panel">
                <ul class="no-bullet commenteds">
                    {% for commented in commenteds %}
                        <li class="row collapse">
                            <a href="{{ BASE_URL }}/notice/{{ commented.pk }}" class="large-7 columns">
                                {% thumbnail commented.photo "90x90" crop="center" as im %}
                                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                {% endthumbnail %}
                            </a>
                            <div class="large-13 columns meta">
                                <h3 class="post-title">
                                    <a href="{{ BASE_URL }}/notice/{{ commented.pk }}">
                                        {{ commented.title|capfirst }}
                                    </a>
                                </h3>
                                <p class="post-meta">
                                    {{ commented.date }}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- div id='comentaries-panel' class='content' -->
        </div><!-- div class='tabs-content' -->
    </div>
    {% if "/home" in request.path %}
        <div class="search widget">
            <header class="row text-center">
                <h6 class="large-centered column">PESQUISAR</h6>
                <form action="/posts" method="get" class="column">
                    <input type="text" name="keywords" placeholder="Pesquisar"/>
                    <button type="submit"><i class="icon-search"></i></button>
                    <select name="editorial" id="editorial">
                        <option value="">Todo o conteúdo</option>
                        {% for editorial in editorials %}
                            <option value="{{ editorial.pk }}">{{ editorial.name }} ({{ editorial.get_amount }})</option>
                        {% endfor %}
                    </select>
                </form>
            </header>
        </div><!-- div class='search widget' -->
    {% endif %}

    <article class="social box">
        <header class="row text-center">
            <ul class="no-bullet">
                {% for social_network in social_networks %}
                    <li>
                        <a href="{{ social_network.url }}" target="_blank">
                            {% if social_network.type == "facebook" %}<i class="icon-facebook2"></i>{% endif %}
                            {% if social_network.type == "twitter" %}<i class="icon-twitter2"></i>{% endif %}
                            {% if social_network.type == "instagram" %}<i class="icon-instagram"></i>{% endif %}
                            {% if social_network.type == "googleplus" %}<i class="icon-googleplus"></i>{% endif %}
                            {% if social_network.type == "youtube" %}<i class="icon-youtube2"></i>{% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </header>
    </article><!-- article class='social box' -->

    <div class="twitter widget">
        <header class="row text-center">
            <h6 class="large-centered column">SIGA <a href="https://twitter.com/progile" target="_blank">@progile</a></h6>
            <a class="twitter-timeline" href="https://twitter.com/progile" data-widget-id="458061559353184256">Tweets de @progile</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
            </script>
        </header>
    </div>
    <div class="facebook widget">
        <header class="row text-center">
            <h6 class="large-centered column"><a href="https://www.facebook.com/Agenciaprogile" targe="_blank">FACEBOOK</a></h6>
            <div class="fb-like-box" data-href="https://www.facebook.com/Agenciaprogile" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
        </header>
    </div>
    <div class="tags widget">
        <header class="row text-center">
            <h6 class="large-centered column">TAGS</h6>
        </header>
    </div>
</aside>
